body {
  background-color: aliceblue;
}

ul li:hover{
    background-color: aqua;
    width: 200px;
}

a{
    margin: auto 10px;
}

#container {
  width: 85%;
  margin: 10px auto;
}

.fonte {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

#sobre-esquerda {
  display: inline-block;
}

#sobre-direita {
  position: absolute;
  display: inline-block;
  width: 60%;
  margin-top: 50px;
}

#foto {
  width: 200px;
  border-radius: 10%;
}

.lista {
  font-size: 17px;
}
