body {
  background-color: aliceblue;
}

ul li:hover{
    background-color: aqua;
    width: 200px;
}

a{
    margin: auto 10px;
}

#container {
  width: 85%;
  margin: 10px auto;
}

.fonte {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

#sobre-esquerda {
  width: 210px;
  height: 300px;
  display: inline-block;
}

#margem{
  margin-top: 273px;
  margin-left: 15px;
}

#sobre-direita {
  position: absolute;
  display: inline-block;
  width: 50%;
  margin: 5% 10%;
}

#foto {
  position: absolute;
  float: left;
  width: 15%;
  border-radius: 10%;
}

.lista {
  font-size: 17px;
}
